extends layout

block content
  - let watercraft  = results 
  .container-fluid
    .row
      each item, index in watercraft 
        .col-sm-4
          .craft(onclick=`buy(${index})`)
            h1 #{item.watercraft_type}
            p length: #{item.length}
            p maximum_capacity: #{item.maximum_capacity}
          .col-sm-2
            p watercraft_type: #{item.watercraft_type}
            p length: #{item.length}
            p maximum_capacity: #{item.maximum_capacity}
    script.
        function buy(index) {
            alert("You purchased item " + index);
        }